@import "tailwindcss";

:root {
  --blue: #51a2ff;
  --dark: #000000;
  --gray: #bbbbbb;
}

.download-button {
  outline: none;
  height: 40px;
  width: 150px;
  border-radius: 40px;
  background: var(--dark); /* dark background instead of white */
  border: 2px solid var(--blue);
  color: var(--blue); /* text color */
  letter-spacing: 1px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.25s ease;
  position: relative;
}

.download-button:hover {
  color: #fff; /* text white on hover */
  background: var(--blue); /* blue background on hover */
}

.download-button:active {
  letter-spacing: 2px;
}

.onclic {
  width: 40px;
  border-color: var(--gray);
  border-width: 3px;
  font-size: 0;
  border-left-color: var(--blue);
  animation: rotating 2s 0.25s linear infinite;
}

.onclic:after {
  content: "";
}

.onclic:hover {
  color: var(--blue);
  background: var(--dark); /* dark background instead of white */
}

.validate {
  font-size: 13px;
  color: #fff; /* text white for checkmark */
  background: var(--blue); /* blue background on validate */
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.floating-shape {
  width: 120px;
  height: 120px;
  background: linear-gradient(135deg, #ff6ec7, #00f2fe);
  border-radius: 50%;
  position: absolute;
  opacity: 0.4;
  filter: blur(60px);
  transform: translate3d(0,0,0);
  will-change: transform;
}


.result-modal::backdrop {
  background: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(10px);
}

.scrollbar-none {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
}

.header {
  backdrop-filter: blur(0px);
  transition: all 0.7s ease; /* smooth transition */
}

body.scrolled .header {
  backdrop-filter: blur(4px);
  background: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
}